<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,104},{546,407}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{546,407}}</string>
                <key>sourceSize</key>
                <string>{550,413}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,507},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>btn_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>btn_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,603},{43,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>check_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,558},{43,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>close_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,690},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>close_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,610},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>coinLabelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,507},{101,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,648},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>crystalLabelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,507},{101,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>enemiesList.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{563,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,503}}</string>
                <key>sourceSize</key>
                <string>{563,503}</string>
            </dict>
            <key>exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,92},{28,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{36,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>honor.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>honorLabelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{101,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>medalLabelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{101,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>normalSymbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,62},{28,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>radio_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,982},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>radio_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,652},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>selectSymbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,32},{28,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tab_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,462},{94,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,45}}</string>
                <key>sourceSize</key>
                <string>{94,45}</string>
            </dict>
            <key>tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,366},{94,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,45}}</string>
                <key>sourceSize</key>
                <string>{94,45}</string>
            </dict>
            <key>tab_yellow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,244},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>tab_yellow_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,122},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>timedBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{420,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,100}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonAssets.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9ca8017dcc024ebf247efac03d7a726$</string>
            <key>textureFileName</key>
            <string>commonAssets.png</string>
        </dict>
    </dict>
</plist>
